---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const reviewEntries = await getCollection('reviews');
---
<BaseLayout titreDocument="Recherche" descriptionDocument="Recherche et analyses" typeRoute="reviews">
  <h1 class="text-h1 font-bold mb-8 text-white">Recherche</h1>
  <div class="flex flex-col gap-4">
    {reviewEntries.map(entry => (
      <article class="bg-[#393E46] border border-[#948979] p-4">
        <h2 class="text-h3 font-bold text-[#DFD0B8]">
          <a href={`/reviews/${entry.slug}`}>{entry.data.title}</a>
        </h2>
      </article>
    ))}
  </div>
</BaseLayout>