---
import BaseLayout from './BaseLayout.astro';
import TableOfContents from '../components/TableOfContents.astro';

const { frontmatter, headings } = Astro.props;
---

<BaseLayout titreDocument={frontmatter.title} descriptionDocument={frontmatter.description} typeRoute="tutos" donneesFrontmatter={frontmatter}>
  <div class="flex flex-col md:flex-row gap-6">
    <aside class="md:w-1/4">
      <TableOfContents headings={headings} />
    </aside>
    <article class="md:w-3/4">
      <slot />
    </article>
  </div>
</BaseLayout>